<div class="ui noborder unselectable inverted segment">
    <div class="ui grid">
        <div class="centered row">
            <div class="ten wide middle aligned column"
                style="color:white;font-family:Ostrich Sans;letter-spacing:
                2px;">
                Webfejlesztési keretrendszerek
                <br># 2019 SZTE #<br>
                <img class="ui centered image" width="40px"
                    src="assets/images/sztelogo.png">
            </div>
        </div>
    </div>
</div>